[submodule "Wolframite/external/spdlog"]
	path = Wolframite/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Wolframite/external/glfw"]
	path = Wolframite/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Wolframite/external/glm"]
	path = Wolframite/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Wolframite/external/imgui"]
	path = Wolframite/external/imgui
	url = https://github.com/andrew3467/imgui.git
